.Body{
    display: flex;
    width: 100%;
    justify-content: center;
}
.Centrado
{
    width: 100%;
    align-content: center!important;
    align-content: center!important;
    display: flex;
    flex-direction: column;
}
.fixed-top {
    box-shadow: 0 0px 15px rgba(0,0,0,0.2);
}

.bg-artvibe{
    background-color: transparent !important;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}
.Subtitulo
{
    font-size: 45px;
}
.Footer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FooterInferior
{
    box-shadow: 0 0px 15px rgba(0,0,0,0.2);
    color: #48292e;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: lightgray;
}

.FooterInferior p
{
    margin: 0;
}

.Body
{
    display: flex;
    width: 100%;
    justify-content: center;
}

.bg-artvibe
{
    background-image: url(../../img/cabecera.png);
    background-size: cover;
    height: 100%;
    min-height: 100%;
}

.Parrafo
{
    font-size: 20px;
    text-align: justify;
}

.Img 
{
    width: 32%;
    max-width: 32%;
    min-width: 32%;
    height: 500px;
}

.Img img 
{
    width: 100%;
}

.ContenidoConcepto
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Titulo 
{
    width: 35%;
    max-width: 35%;
    min-width: 35%;
}

.Amarillo
{
    color: #E5BE01;
}

.PTittle
{
    margin-top: 150px;
    color: #FFF;
    font-size: 50px;
    text-align: center;
}

.Blanco
{
    color: #FFF;
    margin-bottom: 280px;
}
.navbar-dark .navbar-nav .nav-link{
    color: rgb(255, 255, 255);
}

.bLanding
{
    text-align: center;
    font-size: 25px;
}

.Datos
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Dato
{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Texto
{
    width: 50%;
}

.Imagen
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding: 10px;
}

.Imagen img
{
    width: 70%;
}
.imgfinal{
    width: 105%;
}

.imgfinal img
{
    margin-top: 80px;
    width: 95%;
}

footer .Centrado
{
    margin-top: 20px;
    background-image: url(../../img/final.png);
    background-color: rgb(111 93 183);
    width: 100%;
}

.FinalTittle
{
    margin-top: 130px;
    color: #FFF;
    font-size: 40px;
    text-align: center;
}

.FinalText
{
    text-align: center;
    font-size: 25px;
    margin: 5px 0;
}

.Botones
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 100px;
}

.Botones a:hover{
    color: #1abd79;
}

.Botones a:hover{
    text-decoration: none;
}

.Ingresar
{
    background-color: transparent;
    color: #FFF;
    border: 2px solid #E5BE01;
    padding: 10px 10px;
    width: 200px;
    text-align: center;
    margin: 10px 10px;
}

.Registrarse
{
    background-color: rgb(224, 243, 172);
    color: #000;
    padding: 20px 20px;
    width: 200px;
    text-align: center;
    font-weight: 600;
    margin: 10px 10px;
    border-radius: 3px;
}

@media screen and (max-width: 1240px)
{
    .header-content
    {
        max-width: 1000px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 1240px)
{

    body
    {
        overflow-x: hidden;
    }

    .menu
    {
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 120px;
        left: 0;
        background: #fff;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    /* No borrar */

    .show-lateral
    {
        width: 300px;
        transform: translateX(0px);
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav ul li
    {
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu-selected:before
    {
        width: 0;
    }

    .menu nav ul li a
    {
        margin-top: 40px;
        color: #858585;
    }

    .menu nav ul li a i
    {
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #46a2fd;
    }

    #iconM
    {
        display: flex;
    }

}

.parallax {
    height: 5vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-item{
    height: 50px;
    width: 50px;
    position: absolute;
    background: url("../../img/mousemove.png") no-repeat center center / cover;
    opacity: 0.40; 
}

.parallax-item:first-child{
    top: 20px;
	left: 20px;
}

.parallax-item:nth-child(2){
    top: 50px;
    left: 300px;
}

.parallax-item:last-child{
    top: 50px;
    left: 300px;
}