.Sbt
{
    color: #E5BE01;
    font-size: 22px;
    font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
}
.Parrafo
{
    font-size: 20px;
    text-align: justify;
}
.fixed-top {
    box-shadow: 0 0px 15px rgba(0,0,0,0.2);
}

.Numeral
{
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

.Imagenes
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.Img 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 32%;
    max-width: 32%;
    min-width: 32%;
    height: 500px;
    min-height: 500px;
    max-height: 500px;
    margin-bottom: 50px;
}

.Img img 
{
    width: 100%;
}

.ContenidoConcepto
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Titulo 
{
    width: 35%;
    max-width: 35%;
    min-width: 35%;
}

.ImgDefinicion
{
    align-self: flex-end;
}

.ImgDescripcion
{
    align-self: center;
}

.Definicion
{
    width: 60%;
}

.Definicion ol
{
    padding-left: 20px;
}

.w
{
    font-weight: normal;
    text-align: justify;
}