@media all and (max-width: 1090px) 
{
    header
    {
        height: auto;
        background-attachment: fixed;
        min-height: 120px;
    }

    .Responsive
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .Menu
    {
        width: 100%;
    }

    .Menu nav ul
    {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .Menu nav ul li 
    {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #000;
    }

    .Menu nav ul li a
    {
        color: #FFF;
        margin-right: 0;
    }

    .Menu nav ul li a:hover
    {
        color: #EC203F;
    }

    .Menu
    {
        height: 80%;
    }

    #Deploy
    {
        display: flex;
    }
} 